/*  === Google Fonts ===  .:. */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;900&family=Rubik:wght@300;400;500&display=swap');

/*  === Globals and Resets ===  .:. */
@import '~reset-css/reset.css';

:root {
    --easing: cubic-bezier(0.5, 0.7, 0.4, 1);
}

html {
    scroll-behavior: smooth;
}

body {
    --page-background: #fff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    background-color: var(--page-background);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

/* ======  Scrollbar  ======  .:.*/

body {
    overflow: overlay;
}
// add to Anki, stops scrollbar from shifting page content


body::-webkit-scrollbar {
    -webkit-appearance: none;
    width: .6rem;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    // background: yoyo;        /* color of the tracking area */
    background: #dbdbdb;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
background-color: #a1a1a1;    /* color of the scroll thumb */
// background-color: yoyo;    /* color of the scroll thumb */
border-radius: 20px;       /* roundness of the scroll thumb */
border: 3px solid #dbdbdb;  /* creates padding around scroll thumb */
// border: 3px solid yoyo;  /* creates padding around scroll thumb */
}

/*  === Variables ===  .:. */
$thumbnail_smalltext: 0.5rem;
$image_height: 350px;
$lightGray: #dbdbdb;
$darkGray: #a1a1a1;
$mainFont: 'Work Sans', sans-serif;
$headingColour: #3a3a3a;

/*  === Utility classes ===  .:. */
.mb-top-2 {
    margin-top: 1.2rem;
}

.mb-top-4 {
    margin-top: 4rem;
}

.mb-top-6 {
    margin-top: 6rem;
}

.mb-bottom-05 {
    margin-bottom: 0.5rem !important
}

.mb-bottom-1 {
    margin-bottom: 1rem !important
}

.black-text {
    color: black !important
}

.full-width {
    width: 100% !important
}

.websites {
    font-size: 1.8rem !important;
    display: inline-block !important;
}

.bold {
    font-weight: bold !important;
}

.height-2 {
    height: 2rem !important;
}

.height-400 {
    height: 390px !important
}

.small_content_image img.fit-contain {
    object-fit: contain;
}

/* ======== Scroll up ========= .:. */
.scrollup {
    opacity: 0.6;
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: $darkGray;
    padding: .5rem;
    display: flex;
    opacity: .9;
    z-index: 10;
    transition: .4s;
    text-decoration: none;
}

.scrollup-icon, 
.home-button {
    color: white;
}

.scrollup:hover,
.home_button:hover {
    background-color: #828181;
    opacity: 1;
}

.home_button {
    opacity: 0.6;
    position: fixed;
    left: 1rem;
    top: -20%;
    background-color: $darkGray;
    padding: .5rem;
    display: flex;
    opacity: .9;
    z-index: 10;
    transition: top .4s;
        // add to Anki, 
    text-decoration: none;
}

.show-scroll {
    bottom: 5rem;
}

.show-scroll-home {
    top: 1rem;
}



/* ======== Layout ========= .:. */
.wrapper {
    overflow-x: hidden;    
}

main {
    padding: 0 10vw 0px 10vw;
    display: flex;
    flex-wrap: wrap;
    .column {
        flex: 50%;
        max-width: 50%;
        overflow: hidden;
    }
    .project,
    .hero {
        // padding: 0 2vw 2vw 0;
        margin: 0.5rem 0.18rem 0.5rem 0.20rem;
        visibility: hidden;
        .image {
            position: relative;
            overflow: hidden;
            width: 100%;
            // height: 30vh;
            height: 220px;
            .description {
                // display: none;
                // font-size: 10px;
                // position: absolute;
                // z-index: 1;
                // font-size: 10px; 
                pointer-events: none;
                position: absolute; 
                color: white;
                height: 100%; 
                width: 100%; 
                z-index: 1; 
                display: flex; 
                flex-flow: column wrap; 
                // align-content: center; 
                justify-content: space-between;
                p.top {
                    padding: 1rem 0 0 1rem;
                    text-transform: uppercase;
                    font-size: $thumbnail_smalltext;
                    font-weight: bold;
                }
                p.bottom {
                        margin-top: 1rem;
                        text-transform: uppercase;
                        font-size: $thumbnail_smalltext;
                        font-weight: bold;
                }
                p.middle {
                    font-size: 0.8rem;
                    margin-top: 0.3rem;
                    padding-right: calc(100%/4);
                }
                .descrip_lower {
                    padding: 0 0 1rem 1rem;
                    h2 {
                        font-size: 1.3rem;
                        font-family: "Rubik";
                        font-weight: "bold";
                    }
                }
            }
        }
        img,
        .img {
            object-fit: cover;
            object-position: 50% 50%;
            display: block;
            position: absolute;
            // top: 0;
            // left: 0;
            width: 100%;
            height: 100%;
        }
        .cover_image {
            top: 0;
            left: 0;
        }
    }
    .project01 .img {
        background: linear-gradient(
            to right, 
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.1)
            ), 
            url('../images/1.JPG');
        }
    .project02 .img {
        background: linear-gradient(
            to right, 
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.1)
            ), 
            url('../images/2.JPG');
        }
    .project04 .img {
        background: linear-gradient(
            to right, 
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.1)
            ), 
            url('../images/3.JPG');
        }
    .project03 .img {
        background: linear-gradient(
            to right, 
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.1)
            ), 
            url('../images/4.JPG');
        }
    .project06 .img {
        background: linear-gradient(
            to right, 
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.1)
            ), 
            url('../images/5.JPG');
        }        
    .project05 .img {
        background: linear-gradient(
            to right, 
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.1)
            ), 
            url('../images/6.JPG');
        }        
    }

    body main .project01 .img,
    body main .project02 .img,
    body main .project03 .img,
    body main .project04 .img,
    body main .project05 .img,
    body main .project06 .img {
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        transition: opacity 250ms ease;
    }

    .project01 .img:hover,
    .project02 .img:hover,
    .project03 .img:hover,
    .project04 .img:hover,
    .project05 .img:hover,
    .project06 .img:hover {
        opacity: 0.9;
    }
    // .project01 .image { padding-bottom: 103.723404255%; }
    // .project02 .image { padding-bottom: 63.29787234%; }
    // .project03 .image { padding-bottom: 107.446808511%; }
    // .project04 .image { padding-bottom: 112.201591512%; }
    // .project05 .image { padding-bottom: 151.063829787%; }
    // .project06 .image { padding-bottom: 105.291005291%; }

// main {
//     display: flex;
//     flex-flow: row wrap;
//     justify-content: center;
// }

header {
    .contact_container {
        position: absolute;
        right: 0;
        top: 45px;
        width: 150px;
        height: 36px;
        // background: blue;
        overflow: hidden;
    }
    .contact {
        position: absolute;
        right: 0;
        // top: 45px;
        width: auto;
        height: auto;
        background: #f3f3f3;
        margin: 0 1rem;
        padding: 10px;
        border-radius: 4px;
        opacity: 1;
    }
}



header {
    text-align: center;
    margin: 3rem 15vw;
    overflow: hidden;
    a {
        color: #202020;
        font-size: 30px;
        text-transform: uppercase;
        padding: 5px 0 8px 0;
        margin: 0 8px;
        text-decoration: none;
        display: inline-block;
        overflow: hidden;
        position: relative;
        transition: color 300ms ease;
        &::after,
        &.is-active span {
            display: block;
            content: ' ';
            background-color: #e8e8e8;
            position: absolute;
            top: auto;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
        }
        &.is-active {
            span {
                background-color: #202020;
                z-index: 1;
            }
        }
        &:hover {
            color: #757575;
        }
    }
}

main .hero {
    max-width: 650px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    // overflow: hidden;
    .image {
        // padding-bottom: 56.25%;
        margin-bottom: 4vh;
        position: relative;
        height: $image_height;
    }
    h1 {
        font-size: 4vw;
        margin-bottom: 2vh;
        color: #fff;
        z-index: 2;
        position: absolute;
        bottom: 20px;
        left: 40px;
    }
    p {
        line-height: 1.4;
        max-width: 80%;
        margin-bottom: 1em;
    }    
}


/* ======  Details Page  ======  .:.*/

.content {
    position: relative;
    overflow: hidden;
    padding-left: calc(100%/4.5);
    padding-right: 10%;

    h6,
    .content_headline {
        font-size: 0.8rem;
        color: $headingColour;

        &.bigger {
            font-size: 1.2rem;
            margin-top: 3rem;
            margin-bottom: 0.5rem;
        }
    }   
    
}


    .small_content_image {
        width: calc(100% - 10rem);
        // height: $image_height;
        // background: #40304d;
        margin-bottom: 1rem !important;
        margin: 0 auto;
        overflow: hidden;

        &.shadow {
            // box-shadow: 2px 2px 6px #999999;
            box-shadow: 2px 2px 6px #cbcbcb;
        }

        div {
            // margin-bottom: 1rem;

            img {
                object-fit: contain;
            }
        }

    }


    .hero .large_content_image {
        height: $image_height;
        // background: #d3ac29;
        margin-bottom: 1rem;
        overflow: hidden;

        &.shadow {
            // box-shadow: 2px 2px 6px #999999;
            box-shadow: 2px 2px 6px #bdbdbd;
        }

        &.wider {
            height: 200px;
        }


    }


    .hero .small_content_image img,
    .hero .large_content_image img {
        position: relative;
    }

    .content_description {
        height: 90%;
        z-index: 10;
        position: relative;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        margin: 0 1.35rem;
    }

    div.content_description {
        padding: 1rem 0rem;
        color: white;
    }

    .image .top_row,
    .image .left,
    .image .right,
    .image .left-left,
    .image .left-right,
    .image p.content_description {
        font-size: 0.7rem;
        display: flex;
        flex-flow: column; 
        line-height: 1;
        margin-bottom: 0rem;
        width: auto;
        height: auto;       
    }

    .image p.content_description.heading {        
        font-weight: bold;
    }

    .image .bottom_row {
        flex-flow: row;
        display: flex;
        justify-content: space-between;
    }

    .image .bottom_row .left {
        flex-flow: row;
        display: flex;
    }

    .image .bottom_row .left-left,
    .image .bottom_row .left-right {
        flex-flow: column;
        display: flex;
    }


    img {
        cursor: pointer;
    }

    .gallery_container {
        transition: all 250ms ease;
        display: none;
        opacity: 0;
        width: 100%;
        height: 100vh;
        top: 0;
        position: fixed;
        z-index: 100;
    }

    .gallery_container.active {
        display: grid;
        place-items: center;
        // width: 100vw;
        // height: 100vh;
        opacity: 1;
    }

    .gallery_container .gallery_overlay {
        z-index: 10;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(67, 67, 67, 0.8)
    }

    .gallery_image {
        position: absolute;
        // width: 200px;
        // height: 100px;
        // background: yellowgreen;
        z-index: 20;
    }


    .button {
        position: absolute;
        width: 85px;
        background: #b9c0cb;
        padding: 0.5rem;
        height: 16px;
        border-radius: 3px;
        // color: #525252;
        color: black;
        font-weight: bold;
        right: 0;
        top: 0;
        display: flex;
        cursor: pointer;
        transition: all 250ms ease;
        opacity: 0.6;
        text-decoration: none;

        .button_text {
            max-width: fit-content;
            margin-left: 0.3rem;
            line-height:  1;
        }

        
    }
    
    .button:hover {
        // background: #797e85;
        background: #7f848a;
        color: white;
    }

/* ======== Subscribe ========= .:. */

.contact_page .project .image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
}

input[placeholder='message'] {
    height: 6rem;
}

.subscribe__bg{
    background-color:  $darkGray;
    padding: 2.5rem 0;
}

.subscribe__title,
.subscribe__description {
    color: white;
}

.subscribe__description {
    text-align: center;
    margin-bottom: 2.5rem;
}

.subscribe__form {
    background-color: $lightGray;
    padding: 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 470px;
    margin: 0 auto;
    border-radius: 5px;
}

.subscribe__input {
    height: 2rem;
    padding-right: 0.5rem;
    margin-bottom: 1.5rem;
    background-color: #b9b8b8;
    color: white;
    padding-left: 18px;
    border-radius: 3px;
}

.subscribe__input::placeholder {
    color: white;
    text-align: left;
}
    /* add to Anki, placeholder pseudo*/

.subscribe__form .send-button {
    box-shadow: none;
}

.send-button {
    background: white;
}

// .subscribe__container {
//     background-color: $darkGray;
//     padding: 3.5rem 0;
// }

.container {
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;
}


.subscriber_bg .subscriber_container {
    width: auto;
}


.section__title {
    text-align: center;
    font-family: $mainFont;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

button, input {
    border: none;
    font-family: $mainFont, "Open Sans";
    font-size: 1rem;
}

.contact_page {
    justify-content: center;
}

.column.contact_page {
    max-width: 100%;
}

.xtw_logo {
    display: inline-block;
    height: 64px;
    width: 64px;
    // top: 2.5rem;
    // background: white;
    // left: 6rem;
    // z-index: 10;
    // border-radius: 0 20px 30px 0;
    background: url('../images/xtw_logo.png');
    background-size: 69px;
}


// === Mobile === .:.
@media only screen and (max-width: 420px) {
    main .hero {
        width: 100vw;
    }

    main .hero .image {
        height: 14rem;
    }

    .hero .large_content_image {
        height: 14rem;}

    .hero .large_content_image.wider {
        height: 16vh;
    }

    .gallery_image {
        width: 100%;
    }

    div.image.height-400 {
        width: 100vw !important;
        height: 30vh !important;
    }

    .content.discover {
        max-width: 60vw;
    }

        
    .home_button {
        top: -20%;
        left: 0;
        // bottom: 95%;
    }

    .scrollup {
        right: 0;
        bottom: -20%;
    }
    .show-scroll-home {
        top: 0
    }

    .show-scroll {
        bottom: 0;
    }

}

@media only screen and (orientation: landscape) {

    main .hero {
        max-width: 592px;
    }

    .wrapper {
        overflow-x: hidden;    
    }

    .gallery_image {
        width: 77vw;
    }

    .home_button {
        top: -20%;
        left: 0;
        // bottom: 95%;
    }

    .scrollup {
        right: 0;
        bottom: -20%;
    }

    .show-scroll-home {
        top: 0
    }

    .show-scroll {
        bottom: 0;
    }

}

@media only screen and (max-width: 830px) {
    main {
        padding: 0 0 50px 0;

        // .hero {
        //     p {
        //         max-width: 100%;
        //     }
        // }

        .project {
            margin: 0.5rem 1.18rem 0.5rem 1.2rem;
        }
    }
    main .column {
        flex: 100%;
        max-width: 100%;
    }
    header a {
        font-size: 16px;
    }
}

@media only screen and (min-width: 600px) {
    main {
        .column {
                max-width: 50%;
            }
        // .project {
        //     margin: 0.5rem 1.18rem 0.5rem 1.20rem;
        //     }
        }
    }